name: Publish to GitHub Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # checkout@v4.2.2

    - name: Create output directory
      run: mkdir output

    - name: Generate HTML from AsciiDoc files
      uses: docker://asciidoctor/docker-asciidoctor:latest
      with:
        args: asciidoctor --destination-dir /github/workspace/output *.adoc *.md

    - name: Copy additional files to output dir and create index
      run: |
        cp -R images/. output/images/
        cp -R files/. output/files/
        mv output/README.html output/index.html

    - name: Deploy to GitHub Pages
      env:
        INPUT_TOKEN: ${{ github.token }}
        INPUT_SOURCEDIRECTORY: output
        INPUT_FQDN: doc.veluna.eu
      run: |
        wget https://raw.githubusercontent.com/crash5/ghaction-publish-ghpages/v1/entrypoint.sh
        bash ./entrypoint.sh
