name: Publish to GitHub Pages

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v4

    - name: Create output directory
      run: mkdir output

    - name: Generate HTML from AsciiDoc files
      uses: docker://asciidoctor/docker-asciidoctor:latest
      with:
        args: asciidoctor --destination-dir /github/workspace/output *.adoc *.md

    - name: Copy additional files to output dir and create index
      run: |
        cp -R images/. output/images/
        cp -R files/. output/files/
        mv output/README.html output/index.html

    - name: Upload files as artifact
      id: deployment
      uses: actions/upload-pages-artifact@v3
      with:
        path: output/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
